
<!-- 960 Container -->
<div class="container">	
	<div class="flexslider">
	  <ul class="slides">
		<li>
	      <a href="#">
			<div>
				<h2>Zeit und Zeug</h2>
				<h3>Finde Menschen die dir bei deinen Projekten helfen....</h3>
			</div>
		  </a>
	    </li>
	  </ul>
	</div>			
</div>

<!-- 960 Container -->
<div class="container project_preview_container">	
	<div class="sixteen columns">
		<h3>Most Loved Projects</h3>		
	</div>
	<% @projects_loved.each do |project| %>
	<div class="four columns">
		<%= render :partial => 'projects/project_preview', :locals => {:project => project} %>	
	</div>	
	<% end %>
</div>

<!-- ============================================== -->

<!-- 960 Container -->
<div class="container project_preview_container">	
	<div class="sixteen columns">
		<h3>Latest Projects</h3>
	</div>
	<% @projects_last.each do |project| %>
	<div class="four columns">
		<%= render :partial => 'projects/project_preview', :locals => {:project => project} %>	
	</div>
	<% end %>		
</div>

<!-- ============================================== -->



