
<!-- 960 Container -->
<div class="container">	
	<div class="flexslider">
	  <ul class="slides">
		<li>
			<div>
				<h3>Zeit und Zeug</h3>
				<p>Find People to help you with your projects or support other peoples' creative ambitions.</p>
				<p>Zeit und Zeug is a funding and supporting platform for all kinds of projects.</p>
				<p>It is also a great possibility to introduce your ideas to the world and get feedback for them.
				Everything from films, games, and music to art, design, and technology. </p>
				<p>Zeit und Zeug wants to help projects that are brought to life through the direct support of others.</p>    
			</div>
	    </li>
			<li>
				<div>
					<h3>Start a Project</h3>			    
					<p>Fund your project by clicking <%=link_to "Start Project", new_project_path%>. Give your Project a title and describe what your project is about.
					Don't forget to add Tasks to your project so that people know where they can help.</p>
					
					<h3>Wanna help other people?</h3>
					<p>Check out projects by clicking <%=link_to "Explore Projects", categories_path%> or use the search if you have something special in mind.
					Like other Projects if you like the idea. Or take on a task to help it come to life.
					The time you invest in working for a project is added to your time account and increases your reputation.</p>
					<h3>And hey,</h3>
					<p>also checkout the most liked and latest projects here to see what other people are doing an what projects are  most popular.</p>
				</div>
		    </li>
		
	  </ul>
	</div>			
</div>

<!-- 960 Container -->
<div class="container project_preview_container">	
	<div class="sixteen columns">
		<h3>Most Loved Projects</h3>		
	</div>
	<% @projects_loved.each do |project| %>
	<div class="four columns">
		<%= render :partial => 'projects/project_preview', :locals => {:project => project} %>	
	</div>	
	<% end %>
</div>

<!-- ============================================== -->

<!-- 960 Container -->
<div class="container project_preview_container">	
	<div class="sixteen columns">
		<h3>Latest Projects</h3>
	</div>
	<% @projects_last.each do |project| %>
	<div class="four columns">
		<%= render :partial => 'projects/project_preview', :locals => {:project => project} %>	
	</div>
	<% end %>		
</div>

<!-- ============================================== -->



