/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require base
 *= require layout
 *= require skeleton
 *= require_tree .
 */
= require base
= require layout
= require skeleton
@import url("typo.css");


/* ======================================================= */
/* #SITE STYLES : Universal Theme Visual Styles */
/* ======================================================= */

/* Set BG */
body, 
h2.title span, 
ul.tabs li a.active{ 
	background: #fdfdfd;
	background: rgba(246,246,246,0.5) ;
	position: relative;
	z-index: 1;
} 

body:after, 
/* h2.title span:after, */
ul.tabs li a.active:after{  
	content: "";
	position:absolute; 
	z-index:99; 
	left:0; 
	bottom:0; 
	right:0;
	height: 100%;
	width: 100%;
	z-index: -1;
}



/* Wrap .container sections with this to create a full width section (for full width BG color stripes) */
.full-width{width: 100%;}

/* HR Divider */
hr{	
	border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; 
	border-bottom: 1px solid #FFF;
	}
	
hr.partial-bottom{margin-bottom: 20px;}



/* Responsive Images - Combined with Sencha.io on the frontend */
.columns img, .column img{max-width: 100%; height: auto;}
.content img{border: 1px solid #dfdfdf; margin-bottom: 15px;}

/* Basic alignment */
.align-left{float: left;}
.align-center{text-align: center;}
.align-right{float: right}

img.align-left{float: left; margin: 0 15px 12px 0;}
img.align-center{text-align: center; clear: both; margin: 15px auto; display: block;}
img.align-right{float: right; margin: 0 0 12px 15px;}


/* #Global Transitions */
.column, .columns, .row, .module-img img, .sf-menu li, .sf-menu a, a.header-advert img, a.sidebar-advert img {
  	   -moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	     -o-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
	}

/* Custom Lists, Buttons, Tags, etc. */
ul.square {
	padding: 10px;
}
a.button{
	text-align: center;
}

/* Form Overrides */
input{ font-size: 11px !important; }
input.sidebar-search{ width: 90%; min-width: 195px; } 

/* Tags / Categories Styling */
.tags a{
	background: none repeat scroll 0 0 #333333;
	-webkit-border-radius: 3px 3px 3px 3px;
	   -moz-border-radius: 3px 3px 3px 3px;
         -o-border-radius: 3px 3px 3px 3px;
	        border-radius: 3px 3px 3px 3px;
    display: block;
    float: left;
    margin: 2px 2px 0 0;
    padding: 5px 12px;
    text-decoration: none;
}


/* Miscelleneous Classes */
img.tag_icon{
	float: left; 
	border: 0 !important; 
	padding: 5px 13px 0 0;
	margin-bottom: 0;
	}

#entry .tags{margin: -12px 0 -7px;}
.tags .button{margin-bottom: 2px;}

.chzn-container-single .chzn-search input{min-width: 20px;}
 
.excerpt .date{margin-bottom: 20px;}

.my-avatar {
    float: right;
    padding: 5px;
    width: 32px;
    height: 40px;
}

ul.square, ul.circle, ul.disc {
    margin-left: 15px;
    font-size: 13px;
}

/* ======================================================= */
/* #SECTIONS */
/* ======================================================= */

/* Section declarations for BG stripes */
#section-tophat, #section-footer, #section-sub-footer {	position: relative;  z-index: 1;  } /* Setup for :after double bgs below */

#section-tophat{  background: #222;	 background: rgba(0,0,0,0.8);  }
#section-footer{  background: #222;	 background: rgba(0,0,0,0.8);	}
#section-sub-footer{  background: #111;	 background: rgba(0,0,0,0.95);   }


/* Now we'll add some more granular styles to each specific section*/


/* #TOPHAT */ 
#section-tophat{
	border-bottom: 2px solid #ddd;
	background: #333;
}

#section-tophat:after, #section-footer:after{
	content: "";
	position:absolute; 
	z-index:99; 
	left:0; 
	bottom:0;
	right:0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
#section-tophat{padding: 10px 0;}


/* #FOOTER */
#section-footer{
	background: #333;
	margin-top: 40px;
	border-top: 2px solid #ddd;
	padding: 40px 0;
}

#section-footer h5{
	position: relative;
	z-index: 1;
	padding: 2px 10px;
	margin-bottom: 20px;
	}
	
#section-footer h5:after{
	content: "";
	z-index: -1;
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
}
 
#section-footer ul li{
	padding:10px 0;
	margin: 0;
-webkit-border-top: 1px solid rgba(255, 255, 255, 0.05); /* Top/Bottom border for the dropdown links */
   -moz-border-top: 1px solid rgba(255, 255, 255, 0.05);
     -o-border-top: 1px solid rgba(255, 255, 255, 0.05);
		border-top: 1px solid rgba(255, 255, 255, 0.05);
	-webkit-border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	   -moz-border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	     -o-border-bottom: 1px solid rgba(0, 0, 0, 0.4);
			border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

#section-footer ul li:first-child { 
	border-top: none; 
	padding-top: 0;
	}  
  
#section-footer ul li:last-child { 
	border-bottom: none; 
	} 



/* #SUBFOOTER */
#section-sub-footer{
}

#section-sub-footer:after {
	content: "";
	position:absolute; 
	z-index:99; 
	left:0; 
	bottom:0; 
	right:0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#section-sub-footer{ 
	border-top: 2px solid #000;	
	}
#section-sub-footer span{
	padding: 20px 0;
	}

#section-sub-footer span.copyright{float: left;}
#section-sub-footer span.colophon{float: right;}


	
/* ======================================================= */
/* #Custom Styles
/* ======================================================= */

span.usermenu{
	float: right;
	text-align: right;
}

h1.title{
	float: left;
	line-height: 1;
}
h1.title a, h1.title a:hover{
	color: #FFF;
	background: none;
}
.button_to, .button_to div{
	display: inline;
}
a.button{
	margin-bottom: 0 !important;
}

/*Project Preview */
.project_preview_container{
	margin-top: 30px !important;
}
.project_preview {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}
a:hover .project_preview {
	box-shadow: 0 0 5px 0 #ccc;
}
.project_preview .module-title{
	height: 30px;
	overflow: hidden;
}
.project_preview .module-description{
	height: 70px;
	overflow: hidden;
}
.project_preview .module-img{
	height: 150px;
	text-align: center;
}
.project_preview .module-img img{
	max-height: 150px;
}




