/* ======================================================= */
/* #TYPOGRAPHY - Font-family, color, and line-height       */
/*	goes here (defaults found in base.css)  			   */
/* ======================================================= */

body{ 
	font: 13px/19px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	color: #555;
	}

a, a:hover{color: #ee7727; text-decoration: none;}
a:hover{opacity: 0.8;}
.module a:hover{opacity: 1;}

			
/* Headline Text */	 
h1, h2, h3, h4, h5, h6 {  
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight: bold; 
	color: #222; 
}	
	 
h5 { 
	font-size: 15px; 
	line-height: 28px;
	margin-top: 10px;
} 
	
h1.title{ 
    font-size: 2em;
    margin: 0;
    padding: 0;
}

label, legend {
    display: block;
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 6px;
}

/* Tophat and Footer Text */
#section-tophat,
#section-footer, #section-footer a, 
#section-sub-footer{ 
	color: #aaa; 
}

#section-footer h5{ 
	color: #eee; 
}

#section-footer a{
	text-decoration: none;
}