<% category_projects = @category.projects.page(params[:page]).per(3) %>
<% if (category_projects.exists?) %>
	<div class="thirteen columns omega">
	<div class="thirteen columns">
		<h3><%= @category.name %></h3>
		<%= paginate category_projects, :remote => true %> 
	</div>
	<% category_projects.each do |project| %>
		<div class="four columns">
				<%= render :partial => 'projects/project_preview', :locals => {:project => project} %>	
		</div>
	<% end %>
	<%else%>
	<div class="thirteen columns">
		<h3><%= @category.name %></h3>
		<p>No Projects found in this Category</p>
	</div>
	</div>	
<% end %>	



